body {
	background-color: rgb(240,240,240);
	font-family: sans-serif;
	margin: auto;
	padding: 1%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#c {
	height:100%;
	width: 100%;
	/*
	image-rendering: optimizeSpeed;            
	image-rendering: -moz-crisp-edges;          
	image-rendering: -webkit-optimize-contrast; 
	image-rendering: -o-crisp-edges;            
	image-rendering: pixelated;                 
	-ms-interpolation-mode: nearest-neighbor;   */
}

#canvas_container{
	display: block;
	flex-grow:1;
	height: 100%;
}
#help_buttons {
	display: inline-block;
	text-align: center;
	font-size: small;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
}

#help_buttons div{
	padding-left: 0.5em;
	padding-right: 0.5em;
	letter-spacing: 0.2em;
	
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}
#nav_box {
	width: 100%;
	margin-bottom: 0.6em;
	
	border-top: 0.03em solid #1f1f1f;
	border-bottom: 0.03em solid #1f1f1f;
	
}
#nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
}
#nav div{
	padding-left: 0.5em;
	padding-right: 0.5em;
	letter-spacing: 0.2em;
	
	padding-top: 0.3em;
	padding-bottom: 0.3em;

}
#container_of_all{
	display:flex;
	width: 100%;

}
#options{
	flex-grow: 0;
	text-align: center;
	font-size: small;
	width: 20%;
	height: 100%;
}
#nav div:hover{
	background-color: #909090;
}

#nav div.active{
	background-color: #1f1f1f;
	color: rgb(240,240,240);
}
h1{
	font-weight: 1;
	letter-spacing: 0.6em;
	font-family: serif;
}
h4{
	font-weight: 1;
	letter-spacing: 0.2em;
	text-align: center;
	width :100%;
	border-bottom : 0.03em solid #1f1f1f;
	border-top : 0.03em solid #1f1f1f;
}

#file_load_div{
	
	display: inline-block;
	padding-bottom: 1em;
}

#file_load_div label{
	display: inline-block;
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 6em;
	line-height: 1.6em;
	text-align: center;
	letter-spacing: 0.2em;
	background-color: transparent;
	border: 0.03em solid #1f1f1f;	
	
}

.example_button{
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 6em;
	line-height: 1.6em;
	text-align: center;
	letter-spacing: 0.2em;
	background-color: transparent;
	border: 0.03em solid #1f1f1f;
}

.example_button:hover{
	background-color: #909090;
}
.example_button:active{
	background-color: #1f1f1f;
	color: rgb(240,240,240);
}

#file_load_div label:hover{
	background-color: #909090;
}

#file_load_div label:active{
	background-color: #1f1f1f;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

a {
	color: rgba(0, 0, 0, .7);
	font-weight: bold;
	text-decoration: none;
}

footer {
	display: inline-flex;
	justify-content: center;
	text-align: center;
	font-size: 70%;
	width: 100%;
	margin: 3em;
}

footer div {
	padding: .5ex;
	align-items: center;
	align-content: center;
	border-top: 2px solid gray;
}
footer div p {
	text-align: center;
	margin: .5em;
}



footer a {
	text-decoration: none;
}
